<include href="views/header.html"></include>
<body>
    <div class="container">
        <h1>My Diner</h1>
        <h2>Admin Page</h2>
        <h3>All orders</h3>

        <table>
            <tr>
                <th>Order ID</th>
                <th>Food</th>
                <th>Meal</th>
                <th>Condiments</th>
                <th>Date/Time</th>
            </tr>
        <repeat group="{{ @orders }}" value="{{ @order }}">
            <tr>
                <td> {{ @order['order_id'] }}</td>
                <td> {{ @order['food'] }}</td>
                <td> {{ @order['meal'] }}</td>
                <td> {{ @order['condiments'] }}</td>
                <td> {{ date('n-j-Y g:i a', strtotime(@order['order_date'])) }}</td>
            </tr>
        </repeat>
        </table>

        <a href="{{ @BASE }}">Return to Home</a>
    </div>
</body>
</html>